@use "../../styles/mixins.scss";

$unit: 28px;
$gap: 8px;
$border: 3px;
$unit-font-size: $unit - 2 * $border;
$colors: transparent, blue, green, red, DarkBlue, Brown, DarkCyan, #000, gray;

.box {
  width: max-content;
  margin: 0 auto;
  background-color: #ccc;
  border: $gap solid #ccc;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $gap;
  padding: 4px;
  border: $border solid #808080;
  border-right-color: #fff;
  border-bottom-color: #fff;
}

.btn {
  @include mixins.flex-center;

  width: $unit;
  height: $unit;
  box-sizing: border-box;
  border: $border solid #808080;
  border-top-color: #fff;
  border-left-color: #fff;
  font-size: $unit-font-size;
  cursor: pointer;
}

.field {
  @include mixins.flex-center;

  .btn {
    position: relative;
  }

  .item {
    @include mixins.flex-center;

    position: absolute;
    width: $unit;
    height: $unit;
    top: -$border;
    left: -$border;
    border: 1px solid #9d9d9d;
    box-sizing: border-box;
    background-color: #bebebe;
    font-size: 14px;
    font-weight: bold;

    &.mask {
      display: none;
    }
  }
}

@for $i from 0 through 8 {
  .item-#{$i} {
    color: nth($colors, $i + 1);
  }
}
